rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /watchlist/{docId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && request.auth.token.email in ["ananthroi92@gmail.com"];
    }
  }
}
